
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #f9f9f9;
    font-size: 17px;
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 3pt;
    margin-bottom: 1em;
}



/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #777;
    color: white;
}

